<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>
    <nav class="d-flex flex-row justify-content-evenly align-items-center bg-light">
        <h2><b>Hello, User</b></h2>
        <h1>Notes</h1>
        <div class="d-flex flex-row justify-content-between align-items-center" style="width: 12%">
            <button class="btn btn-primary">Create Account</button>
            <a href="/notes/login/">
                <button class="btn btn-primary">Login</button>
            </a>
        </div>
    </nav>
    <root class="d-flex flex-column justify-content-center align-items-center bg-dark text-light" style="height: 100vh; width: 100vw;">

    </root>
</body>
</html>