<!DOCTYPE html>
<html>
<head>
    <title>MyNotes</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body>
    <nav class="d-flex flex-row justify-content-evenly align-items-center bg-light">
        <h2><b>Hello, User</b></h2>
        <h1>Notes</h1>
        <div class="d-flex flex-row justify-content-between align-items-center" style="width: 12%">
            <button class="btn btn-primary">Create Account</button>
            <a href="/notes/login/">
                <button class="btn btn-primary">Login</button>
            </a>
        </div>
    </nav>
    <root class="d-flex flex-column justify-content-center align-items-center bg-dark text-light" style="height: 100vh; width: 100vw;">
        <a href="/notes/">
            <button class="btn btn-primary m-3">Back to your notes</button>
        </a>
        <div class="card d-flex flex-column bg-secondary" style="width: 50vw; height: 75%;">
            <div class="d-flex flex-column justify-content-center align-items-start bg-secondary">
                <div class="d-flex flex-row text-start p-3 ">
                    <h1 class="fw-bold">{{ note.title }}</h1>
                </div>
                <div class="d-flex flex-column p-3">
                    <p class="fs-6 text-info m-0">Created at: {{ note.created_at }}</p>
                    <p class="fs-6 text-info m-0">Last updated: {{ note.updated_at }}</p>
                </div>
            </div>
            <div>
                <p class="fs-4 p-3">{{note.body}}</p>
            </div>
        </div>
    </root>
</body>
</html>
